html, body {
  height: 100%;
  width: 100%;
}

.flex {
  width: 200px;
  height: 350px;
  margin: 10px;
  padding: 10px;
  border: 1px solid brown;
  display: inline-flex;
/*   float: left; */
}

.float {
  border: 1px solid red;
/*   width: 150px; */
}

p {
  font-family: 'Google', cursive;
  font-size: 26px;
  color: red;
}